.nav {
    width:100%;
    height:auto;
    background:black;
    vertical-align:middle;
}

@media screen and (min-width:860px) {
    .list {
        width:100%;
        height:auto;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    }
}

.list ul {
    display:inline-block;
}

.list li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.list li:last-child {
    margin-right:20px;
}

.pull-right a {
    color:white;
    text-decoration:none;
}

.list a:hover, a:active, a:focus {
    color:orange;
    text-decoration:none;
}

.list p {
    float:left;
    display:inline-block;
    margin:0px;
    color:white;
    font-size:17px;
}

.backgroundItem {
    width:100%;
    max-width:100%;
    min-width:100%;
}

.backgroundItem video {
    width:100%;
    max-width:100%;
    min-width:100%;
    background-size:cover;
    opacity:0.7;
}

.desc {
    position:absolute;
    text-align:center;
}

.aboutMeItem {
    width:100%;
    max-width:100%;
    min-width:100%;
    padding-top:5%;
    padding-bottom:5%;
    background:#e8e8e8;
    overflow:hidden;
}

.heading {
    width:100%;
    padding-bottom:4%;
}

.heading h1 {
    font-size:60px;
    font-weight:900;
    text-align:center;
    color:#7a7570;
}

.sidebyside {
    width:100%;
    max-width:100%;
    min-width:100%;
    display:flex;
    overflow:hidden;
}

.image {
    width:40%;
    display:block;
    float:left;
    padding-left:20%;
    padding-bottom:1%;
    overflow:hidden;
}

.image img {
    border-radius:10px;
    opacity:0.8;
}

.aboutMeContent {
    width:60%;
    color:black;
    display:block;
    float:right;
    padding-right:20%;
    padding-left:1%;
    font-size:21px;
    font-weight:700;
    overflow:hidden;
}

.projectsItem {
    width:100%;
    background:url(img/projects.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    max-width:100%;
    min-width:100%;
    padding-top:5%;
    padding-bottom:5%;
    z-index:1;
    overflow:hidden;
}

.projectsOrg {
    width:100%;
    max-width:100%;
    min-width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-right:10%;
    padding-left:10%;
}

.project {
    width:30%;
    background:#e8e8e8;
    box-shadow: 0px 0px 10px 10px #e8e8e8;
    opacity:0.7;
    margin-right:25px;
    margin-left:25px;
    margin-top:25px;
    margin-bottom:25px;
    text-align:center;
    text-decoration:none;
}

.project a {
    text-decoration:none;
    color:black;
}

.project a:hover {
    text-decoration:none;
}

.p1P {
    font-size:19.5px;
    font-weight:800;
    padding-top:1.5%;
    color:orange;
}

.p2P {
    font-size:18px;
    font-weight:500;
    padding-right:3%;
    padding-left:3%;
    padding-bottom:1%;
}

.experiencesItem {
    width:100%;
    background:url(img/experience.png);
    background-color: rgba(33, 33, 33, 0.5);
    opacity:0.7;
    background-size:100% 100%;
    background-repeat:no-repeat;
    max-width:100%;
    min-width:100%;
    padding-top:5%;
    padding-bottom:5%;
    overflow:hidden;
}

.experiencesOrg {
    width:100%;
    max-width:100%;
    min-width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding-right:3%;
    padding-left:3%;
}

.experience {
    width:100%;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    text-decoration:none;
}

#e1a {
    width:350px;
    height:275px;
    float:left;
    background:url(img/informaticsSkunkworks.PNG);
    background-size:100% 100%;
    border-radius:10px;
    margin-top:30px;
    margin-left:150px;
}

#e1b {
    width:50%;
    float:right;
    margin-right:150px;
}

#e2a {
    width:350px;
    height:275px;
    float:right;
    background:url(img/transcend.PNG);
    background-size:100% 100%;
    border-radius:10px;
    margin-top:30px;
    margin-right:150px;
}

#e2b {
    width:50%;
    float:left;
    margin-left:150px;
}

#e3a {
    width:350px;
    height:275px;
    float:left;
    background:url(img/erieInsurance.PNG);
    background-size:100% 100%;
    border-radius:10px;
    margin-top:30px;
    margin-left:150px;
}

#e3b {
    width:50%;
    float:right;
    margin-right:150px;
}

.p1E {
    font-size:35px;
    font-weight:800;
    padding-top:1.5%;
    padding-right:3%;
    padding-left:3%;
    color:orange;
}

.p2E {
    font-size:25px;
    font-weight:500;
    padding-right:3%;
    padding-left:3%;
    padding-bottom:1%;
    color:white;
    font-weight:bold;
}

.contactItem {
    width:100%;
    max-width:100%;
    min-width:100%;
    padding-top:5%;
    padding-bottom:5%;
    background:#e8e8e8;
    overflow:hidden;
    text-align:center;
}

.p1C {
    font-size:25px;
    font-weight:600;
    padding-bottom:2%;
}

.p2C {
    font-size:25px;
    font-weight:600;
}

.p3C {
    font-size:25px;
    font-weight:600;
    color:orange;
}

.footerItem {
    background:black;
    text-align:center;
    overflow:hidden;
    color:white;
    padding-top:3%;
    padding-bottom:3%;
}

.footerLinks {
    display:flex;
    justify-content:center;
    padding-top:1%;
}

.logo {
    padding-right:0.5%;
    padding-left:0.5%;
    padding-bottom:1%;
}

.footerLinks a:hover {
    color:grey;
}

.footerLinks img {
    opacity:0.5;
    border:solid grey;
}

.footerContent {
    padding-top:3%;
    font-size:22px;
    color:orange;
}

@media screen and (max-width:1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width:1000px) {
    .list {
        width:100%;
        height:auto;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    }
    
    .list ul {
        display: inline-block;
    }

    .list li {
        margin:0px 20px 0px 0px;
        float:left;
        list-style:none;
        font-size:10px;
    }

    .list li:last-child {
        margin-right:0px;
    }

    .list a {
        color:white;
        text-decoration:none;
    }

    .list a:hover {
        color:orange;
        text-decoration:none;
    }

    .list p {
        float:left;
        display:inline-block;
        margin:0px;
        color:white;
        font-size:10px;
    }
}

@media screen and (max-width:600px) {
    .list {
        width:100%;
        height:auto;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    }
    
    .list ul {
        display: inline-block;
    }

    .list li {
        margin:0px 10px 0px 0px;
        float:left;
        list-style:none;
        font-size:7px;
    }

    .list li:last-child {
        margin-right:0px;
    }

    .list a {
        color:white;
        text-decoration:none;
    }

    .list a:hover {
        color:orange;
        text-decoration:none;
    }

    .list p {
        float:left;
        display:inline-block;
        margin:0px;
        color:white;
        font-size:7px;
    }
}

@media screen and (max-width:370px) {
    .list {
        width:100%;
        height:auto;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    }
    
    .list ul {
        display: inline-block;
    }

    .list li {
        margin:0px 5px 0px 0px;
        float:left;
        list-style:none;
        font-size:4px;
    }

    .list li:last-child {
        margin-right:0px;
    }

    .list a {
        color:white;
        text-decoration:none;
    }

    .list a:hover {
        color:orange;
        text-decoration:none;
    }

    .list p {
        float:left;
        display:inline-block;
        margin:0px;
        color:white;
        font-size:4px;
    }
}

@media screen and (max-width:240px) {
    .list {
        width:100%;
        height:auto;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    }
    
    .list ul {
        display: inline-block;
    }

    .list li {
        margin:0px 1.25px 0px 0px;
        float:left;
        list-style:none;
        font-size:2px;
    }

    .list li:last-child {
        margin-right:0px;
    }

    .list a {
        color:white;
        text-decoration:none;
    }

    .list a:hover {
        color:orange;
        text-decoration:none;
    }

    .list p {
        float:left;
        display:inline-block;
        margin:0px;
        color:white;
        font-size:2px;
    }
}

@media screen and (max-width:1530px) {
    .sidebyside {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        overflow:hidden;
    }

    .image {
        width:40%;
        display:block;
        float:left;
        padding-left:10%;
        padding-right:1%;
        overflow:hidden;
        vertical-align:middle;
    }

    .image img {
        border-radius:10px;
        opacity:0.8;
    }

    .aboutMeContent {
        width:60%;
        color:black;
        display:block;
        float:right;
        padding-right:10%;
        padding-left:1%;
        font-size:20px;
        font-weight:700;
        overflow:hidden;
    }
}

@media screen and (max-width:1100px) {
    .heading h1 {
        font-size:50px;
        font-weight:900;
        text-align:center;
    }
    
    .sidebyside {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        overflow:hidden;
    }

    .image {
        width:40%;
        display:block;
        float:left;
        padding-left:5%;
        padding-right:3%;
        overflow:hidden;
    }

    .image img {
        border-radius:10px;
        opacity:0.8;
    }

    .aboutMeContent {
        width:60%;
        color:black;
        display:block;
        float:right;
        padding-right:5%;
        padding-left:3%;
        font-size:18px;
        font-weight:700;
        overflow:hidden;
    }
    
    .p1C {
        font-size:23px;
        font-weight:600;
        padding-bottom:2%;
    }

    .p2C {
        font-size:23px;
        font-weight:600;
    }

    .p3C {
        font-size:23px;
        font-weight:600;
        color:orange;
    }
}

@media screen and (max-width:800px) {   
    .sidebyside {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:block;
        text-align:center;
        overflow:hidden;
    }

    .image {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:block;
        padding-left:3%;
        padding-right:3%;
        padding-bottom:5%;
        margin:0 auto;
        overflow:hidden;
    }

    .image img {
        border-radius:10px;
        opacity:0.8;
    }

    .aboutMeContent {
        width:100%;
        max-width:100%;
        min-width:100%;
        color:black;
        display:block;
        padding-right:3%;
        padding-left:3%;
        font-size:19px;
        font-weight:700;
        overflow:hidden;
        text-align:center;
    }    
}

@media screen and (max-width:500px) {   
    .heading h1 {
        font-size:40px;
        font-weight:900;
        text-align:center;
    }
    
    .p1C {
        font-size:20px;
        font-weight:600;
        padding-bottom:2%;
    }

    .p2C {
        font-size:20px;
        font-weight:600;
    }

    .p3C {
        font-size:20px;
        font-weight:600;
        color:orange;
    }
}

@media screen and (max-width:310px) {
    .heading h1 {
        font-size:30px;
        font-weight:900;
        text-align:center;
    }

    .sidebyside {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:block;
        text-align:center;
        overflow:hidden;
    }

    .image {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:block;
        padding-left:2%;
        padding-right:2%;
        padding-bottom:5%;
        margin:0 auto;
        overflow:hidden;
    }

    .image img {
        border-radius:10px;
        opacity:0.8;
        width:100%;
    }

    .aboutMeContent {
        width:100%;
        max-width:100%;
        min-width:100%;
        color:black;
        display:block;
        padding-right:2%;
        padding-left:2%;
        font-size:16px;
        font-weight:700;
        overflow:hidden;
        text-align:center;
    }    
    
    .p1C {
        font-size:18px;
        font-weight:600;
        padding-bottom:2%;
    }

    .p2C {
        font-size:18px;
        font-weight:600;
    }

    .p3C {
        font-size:18px;
        font-weight:600;
        color:orange;
    }
}

@media screen and (max-width:1200px) {
    .projectsItem {
        width:100%;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        background:url(img/projects.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
        overflow:hidden;
    }

    .projectsOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        padding-right:3%;
        padding-left:3%;
    }

    .project {
        width:40%;
        background:#e8e8e8;
        opacity:0.7;
        margin-right:25px;
        margin-left:25px;
        margin-top:25px;
        margin-bottom:25px;
        text-align:center;
        text-decoration:none;
    }

    .p1P {
        font-size:20px;
        font-weight:600;
        color:orange;
    }

    .p2P {
        font-size:18px;
        font-weight:500;
        color:black;
    }    
}

@media screen and (max-width:600px) {
    .projectsItem {
        width:100%;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        background:url(img/projects.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
        overflow:hidden;
    }

    .projectsOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        padding-right:3%;
        padding-left:3%;
    }

    .project {
        width:100%;
        background:#e8e8e8;
        margin-right:20px;
        margin-left:20px;
        margin-top:20px;
        margin-bottom:20px;
        text-align:center;
        text-decoration:none;
    }

    .p1P {
        font-size:18px;
        font-weight:600;
        color:orange;
    }

    .p2P {
        font-size:15px;
        font-weight:500;
        color:black;
    }    
}

@media screen and (max-width:1600px) {
   .experiencesItem {
        width:100%;
        background:url(img/experience.png);
        background-color: rgba(33, 33, 33, 0.5);
        opacity:0.9;
        background-size:100% 100%;
        background-repeat:no-repeat;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        overflow:hidden;
    }

    .experiencesOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        padding-right:1%;
        padding-left:1%;
    }

    .experience {
        width:100%;
        margin-right:15px;
        margin-left:15px;
        margin-top:15px;
        margin-bottom:15px;
        text-decoration:none;
    }

    #e1a {
        width:292px;
        height:229px;
        float:left;
        background:url(img/informaticsSkunkworks.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-left:80px;
    }

    #e1b {
        width:50%;
        float:right;
        margin-right:80px;
    }

    #e2a {
        width:292px;
        height:229px;
        float:right;
        background:url(img/transcend.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-right:80px;
    }

    #e2b {
        width:50%;
        float:left;
        margin-left:80px;
    }

    #e3a {
        width:292px;
        height:229px;
        float:left;
        background:url(img/erieInsurance.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-left:80px;
    }

    #e3b {
        width:50%;
        float:right;
        margin-right:80px;
    }

    .p1E {
        font-size:30px;
        font-weight:800;
        padding-top:1.5%;
        padding-right:3%;
        padding-left:3%;
        color:orange;
    }

    .p2E {
        font-size:20px;
        font-weight:500;
        padding-right:3%;
        padding-left:3%;
        padding-bottom:1%;
        color:white;
        font-weight:bold;
    }
}

@media screen and (max-width:1150px) {
   .experiencesItem {
        width:100%;
        background:url(img/experience.png);
        background-color: rgba(33, 33, 33, 0.5);
        opacity:0.9;
        background-size:100% 100%;
        background-repeat:no-repeat;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        overflow:hidden;
    }

    .experiencesOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        padding-right:1%;
        padding-left:1%;
    }

    .experience {
        width:100%;
        margin-right:15px;
        margin-left:15px;
        margin-top:15px;
        margin-bottom:15px;
        text-decoration:none;
    }

    #e1a {
        width:250px;
        height:196px;
        float:left;
        background:url(img/informaticsSkunkworks.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-left:30px;
    }

    #e1b {
        width:50%;
        float:right;
        margin-right:30px;
    }

    #e2a {
        width:250px;
        height:196px;
        float:right;
        background:url(img/transcend.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-right:30px;
    }

    #e2b {
        width:50%;
        float:left;
        margin-left:30px;
    }

    #e3a {
        width:250px;
        height:196px;
        float:left;
        background:url(img/erieInsurance.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin-top:30px;
        margin-left:30px;
    }

    #e3b {
        width:50%;
        float:right;
        margin-right:30px;
    }

    .p1E {
        font-size:25px;
        font-weight:800;
        padding-top:1.5%;
        padding-right:3%;
        padding-left:3%;
        color:orange;
    }

    .p2E {
        font-size:18px;
        font-weight:500;
        padding-right:3%;
        padding-left:3%;
        padding-bottom:1%;
        color:white;
        font-weight:bold;
    }
}

@media screen and (max-width:800px) {
    .experiencesItem {
        width:100%;
        background:url(img/experience.png);
        opacity:0.9;
        background-size:100% 100%;
        background-repeat:no-repeat;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        overflow:hidden;
    }

    .experiencesOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        text-align:center;
    }

    .experience {
        width:100%;
        margin-top:20px;
        margin-bottom:20px;
      
    }

    #experience1 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }
    
    #e1a {
        width:350px;
        height:275px;
        background:url(img/informaticsSkunkworks.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e1b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience2 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e2a {
        width:350px;
        height:275px;
        background:url(img/transcend.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e2b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience3 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e3a {
        width:350px;
        height:275px;
        background:url(img/erieInsurance.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e3b {
        width:100%;
        padding-top:25px;
        margin:0 auto;
    }

    .p1E {
        font-size:20px;
        font-weight:800;
        padding-top:1.5%;
        color:orange;
    }

    .p2E {
        font-size:18px;
        font-weight:500;
        padding-bottom:1%;
        color:white;
        font-weight:bold;
    }
}

@media screen and (max-width:800px) {
    .experiencesItem {
        width:100%;
        background:url(img/experience.png);
        opacity:0.9;
        background-size:100% 100%;
        background-repeat:no-repeat;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        overflow:hidden;
    }

    .experiencesOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        text-align:center;
    }

    .experience {
        width:100%;
        margin-top:20px;
        margin-bottom:20px;
    }

    #experience1 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }
    
    #e1a {
        width:350px;
        height:275px;
        background:url(img/informaticsSkunkworks.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e1b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience2 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e2a {
        width:350px;
        height:275px;
        background:url(img/transcend.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e2b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience3 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e3a {
        width:350px;
        height:275px;
        background:url(img/erieInsurance.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e3b {
        width:100%;
        padding-top:25px;
        margin:0 auto;
    }

    .p1E {
        font-size:25px;
        font-weight:800;
        padding-top:1.5%;
        color:orange;
    }

    .p2E {
        font-size:20px;
        font-weight:500;
        padding-bottom:1%;
        color:white;
        font-weight:bold;
    }
}

@media screen and (max-width:400px) {
    .experiencesItem {
        width:100%;
        background:url(img/experience.png);
        opacity:0.9;
        background-size:100% 100%;
        background-repeat:no-repeat;
        max-width:100%;
        min-width:100%;
        padding-top:5%;
        padding-bottom:5%;
        overflow:hidden;
    }

    .experiencesOrg {
        width:100%;
        max-width:100%;
        min-width:100%;
        text-align:center;
    }

    .experience {
        width:100%;
        margin-top:20px;
        margin-bottom:20px;
    }

    #experience1 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }
    
    #e1a {
        width:219px;
        height:172px;
        background:url(img/informaticsSkunkworks.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e1b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience2 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e2a {
        width:219px;
        height:172px;
        background:url(img/transcend.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e2b {
        width:100%;
        padding-top:25px;
        padding-bottom:50px;
        margin:0 auto;
    }
    
    #experience3 {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin:0 auto;
    }

    #e3a {
        width:219px;
        height:172px;
        background:url(img/erieInsurance.PNG);
        background-size:100% 100%;
        border-radius:10px;
        margin:0 auto;
    }

    #e3b {
        width:100%;
        padding-top:25px;
        margin:0 auto;
    }

    .p1E {
        font-size:20px;
        font-weight:800;
        padding-top:1.5%;
        color:orange;
    }

    .p2E {
        font-size:18px;
        font-weight:500;
        padding-bottom:1%;
        color:white;
        font-weight:bold;
    }
}
